/* settings.css */

/* Bof: some global stuff */
aside {
	font-family: "Lato";
	font-size: 16px;
}
section.mainSection {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
.hideIt {
	left: -500px;
}
.showIt {
	left: 0;
	box-shadow: 2px 0 20px #000;
}
.swipeLeft {
	left: 0;
}
.swipeRight {
	left: 500px;
}
.pushLeft {
	background-position: 0 0;
}
.pushRight {
	background-position: 500px 0;
	overflow: hidden;
}
.overlay {
	position: absolute;
	z-index: 990;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,0.7);
}
.showCursor {
	cursor: pointer;
}
/* ---- */

/* Bof: Theme selector */
select.selectTheme {
	width: 440px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 0;
	box-shadow: inset 0 0 3px #999;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 2px 10px;
	margin: 0 10px 10px 10px;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	text-indent: 0.01px;
	text-overflow: '';

	background: #ddd url('../img/select-arrow.png') no-repeat right 3px;
	color: #333;
}
.container {
	padding: 20px 0 10px 0;
	margin: 0 0 40px 0;
	background-color: #242428;
	box-shadow: inset 0 -2px 0 #1a1a1a;
}
.container:first-child {
	margin-top: 30px;
}
.layout {
	color: #fff;
	padding: 5px 10px;
	margin: 0 10px;
	/*border-radius: 5px;*/
	/*background-color: #3e454a;*/
	background-color: #2e2f33;
	box-shadow: inset 0 1px #111, 0 1px #333;
}
.layout h4 {
	font-size: 18px;
	margin: 0 0 10px 0;
}
.layout input[type="radio"] {
	display: none;
}
.layout label {
	display: inline-block;
	width: 85px;
	margin: 0 5% 0 0;
}
.layout label:last-child {
	margin-right: 0;
}
.inactive {
	color: #666;
	cursor: pointer;
}
.inactive:hover {
	color: #ddd;
}
.active {
	color: #10b5d2;
	cursor: default;
}
/* ---- */

/* Bof: Add new bookmark */
.closeSettings {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	z-index: 1010;
	width: 30px;
	height: 20px;
	background-color: #2f3035;
	color: #ddd;
	border: none;
}
.closeSettings i {
	color: #ddd;
}
.closeSettings:hover,
.closeSettings:hover i {
	color: #df5e3c;
	border: none;
}
aside h3 {
	color: #ccc;
	text-shadow: inset 0 1px #000;
	font-weight: 400;
	margin: 0 10px 10px 10px;
}
aside.sideBar {
	background: #2e2f33;
	position: absolute;
	display: inline-block;
	width: 460px;
	height: 100%;
	min-height: 100%;
	padding: 10px 20px;
	overflow: auto;
}
aside.sideBar input[type="submit"],
aside.sideBar input[type="text"] {
	width: 418px;
	height: 30px;
	border: none;
	outline: none;
	box-shadow: inset 0 0 3px #999;
	background-color: #ddd;
	border: 1px solid #4f565b;
	font-size: 18px;
	padding: 2px 10px;
	margin: 0 10px 10px 10px;
}
aside.sideBar input[type="text"]:hover {
	background-color: #fff;
}
aside.sideBar input[type="text"]:focus {
	background-color: #fff;
	border: 1px solid #00dcff;
	box-shadow: 0 0 10px #00dcff;
}
aside.sideBar input[type="submit"] {
	width: 440px;
	height: 34px;
	background-color: #10b5d2;
	border: none;
	border-top: 1px solid #10b5d2;
	border-bottom: 1px solid #10b5d2;
	box-shadow: none;
	box-shadow: inset 0 -1px 0 #10b5d2;
	padding: 0;
	color: #333;
	text-shadow: 0 1px #24ddfe;
}
aside.sideBar input[type="submit"]:hover {
	background-color: #1ec7e5;
	color: #000;
	border-top: 1px solid #24ddfe;
	border-bottom: 1px solid #0aa8c4;
	box-shadow: 0 -2px 2px #111, inset 0 -1px 0 #0aa8c4;
}
aside.sideBar input[type="submit"]:focus {
	box-shadow: 0 0 5px #fff;
	color: #000;
}
aside.sideBar ::-webkit-input-placeholder { color: #aaa; }
aside.sideBar ::-moz-placeholder { color: #aaa; } /* firefox 19+ */
aside.sideBar :-ms-input-placeholder { color: #aaa; } /* ie */
aside.sideBar input:-moz-placeholder { color: #aaa; }
/* ---- */

aside hr {
	color: #2e2f33;
	background-color: #2e2f33;
	height: 1px;
	border: none;
	border-bottom: 1px solid #444;
}

/* Bof: Edit bookmarks */
aside .catList {
	margin-bottom: 10px;
}
aside .catList li {
	margin: 0 0 10px 0;
}
aside .catList li h4 {
	font-size: 20px;
	display: block;
	color: #aaa;
	color: #e5461e;
	margin: -10px 0 10px 10px;
	text-transform: capitalize;
	font-style: italic;
}
aside .editBookmarks {
	margin: 5px 0;
	padding: 0;
}
aside .editBookmarks li {
	list-style-type: none;
	margin: 5px 0;
	padding: 0;
}
aside .editBookmarks li:last-child {
	margin-bottom: 10px;
}
aside .btn {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 100;
	font-style: normal;
	text-decoration: none;
	padding: 2px 10px 2px 30px;
	margin: 0 0 0 -5px;

	display: block;
	line-height: 30px;
	/*border: none;*/
	border-bottom: 1px solid #242428;
	border-top: 1px solid #333;
	color: #eee;
	background: none;
}
aside .btn:hover {
	background-color: #e5461e;
	color: #fff;
	/*border-radius: 5px;*/
	border: none;
	border-top: 1px solid #f46332;
	border-bottom: 1px solid #c63b1b;
	box-shadow: 0 -2px 2px #111, inset 0 -1px 0 #c63b1b;
	text-shadow: 0 1px 1px #000;
}
aside .btn .editBtn,
aside .btn .delBtn {
	position: absolute;
	right: 33px;
	font-size: 14px;
	color: #242428;
	display: inline-block;
	text-shadow: none;
}
aside .btn .editBtn {
	right: 60px;
}
aside .btn:hover .editBtn,
aside .btn:hover .delBtn {
	color: #eee;
}
aside .btn .editBtn:hover,
aside .btn .delBtn:hover {
	color: #000;
}
aside.sideBar .editEntry input[type="text"] {
	width: 413px;
}
aside.sideBar input[type="submit"].doDelete,
aside.sideBar input[type="submit"].cancelDelete,
aside.sideBar input[type="submit"].saveChanges,
aside.sideBar input[type="submit"].discardChanges {
	display: inline-block;
	width: 210px;
	height: 34px;
	margin-left: 4px;
	margin-right: 0;
	border: none;
	/*border-radius: 5px;*/
	box-shadow: none;
	/*background-color: #9bc732;*/
	background-color: #e5461e;
	padding: 0;
	font-size: 18px;
	color: #555;
	text-shadow: 0 1px #bde954;
}
aside.sideBar input[type="submit"].doDelete,
aside.sideBar input[type="submit"].discardChanges {
	background-color: #f36c3f;
	margin-left: 0;
	margin-right: 3px;
	text-shadow: 0 1px #f68f6f;
}
aside.sideBar input[type="submit"].doDelete {
	margin-right: 6px;
}
aside.sideBar input[type="submit"].cancelDelete {
	margin-left: 4px;
}
aside.sideBar input[type="submit"].cancelDelete:hover,
aside.sideBar input[type="submit"].saveChanges:hover {
	background-color: #bde954;
	color: #000;	
}
aside.sideBar input[type="submit"].doDelete:hover,
aside.sideBar input[type="submit"].discardChanges:hover {
	background-color: #f58e5f;
	color: #000;
}
aside.sideBar input[type="submit"].cancelDelete:focus,
aside.sideBar input[type="submit"].doDelete:focus,
aside.sideBar input[type="submit"].saveChanges:focus,
aside.sideBar input[type="submit"].discardChanges:focus {
	box-shadow: 0 0 5px #fff;
	color: #000;
}
/* ---- */
.inactive,
.active,
.column,
.animateAll,
aside a,
aside a:hover,
.overlay,
.hideIt,
.showIt,
.swipeLeft,
.swipeRight,
.pushLeft,
.pushRight {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}