@teal: #80CBC4;
@blue: #2196F3;
@light-blue: #03A9F4;
@dark-teal: #009688;
@deep-orange: #FF5722;
@dark-orange: #BF360C;
@trans-grey-90: rgba(0,0,0,0.9);
@trans-grey-56: rgba(0,0,0,0.56);
@trans-grey-26: rgba(0,0,0,0.26);
@trans-grey-12: rgba(0,0,0,0.12);
@trans-grey-06: rgba(0,0,0,0.06);
@trans-white-56: rgba(255,255,255,0.56);
@trans-white-26: rgba(255,255,255,0.26);
@solid-light-grey: #eeeeee;
@solid-dark-grey: #424242;
@solid-mid-grey: #848484;
@almost-black: #212121;
@font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

.transition(@duration) {
	-webkit-transition: all @duration ease-out;
	-moz-transition: all @duration ease-out;
	transition: all @duration ease-out;
}
.transitionDelayed(@duration, @delay) {
	-webkit-transition: all @duration @delay ease-out;
	-moz-transition: all @duration @delay ease-out;
	transition: all @duration @delay ease-out;
}

.transition05() {
	.transition(0.5s);
}
.transition03() {
	.transition(0.3s);
}
.transition02() {
	.transition(0.2s);
}
.transition01() {
	.transition(0.1s);
}

.transitionTooltip() {
	.transitionDelayed(0.3s, 0.8s);
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: #f0f0f0;
	background-size: 100% 100%;
	background-attachment: fixed !important;

	color: #4f565b;
	font-family: @font-family;
	font-size: 18px;
	.transition03();
}
h1, h2, h3 {
	font-weight: 300;
	margin: 0;
	padding: 0;
}

::-webkit-input-placeholder {
  color: @trans-grey-26;
  font-family: @font-family;
  font-weight: 400;
}
:-moz-placeholder {
  color: @trans-grey-26;
  font-family: @font-family;
  font-weight: 400;
  opacity:  1;
}
::-moz-placeholder {
  color: @trans-grey-26;
  font-family: @font-family;
  font-weight: 400;
  opacity:  1;
}
:-ms-input-placeholder {
  color: @trans-grey-26;
  font-family: @font-family;
  font-weight: 400;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	cursor: pointer;
}

a {
	color: @trans-grey-56;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}
.mainSection {
	a {
		color: @trans-white-56;
		padding: 2px 5px;

		&:hover {
			color: white;
		}
	}
}

#settingsOpener {
	margin: 2px 0 0 24px;
	position: absolute;
	z-index: 100020;
	a.openSettings {
		cursor: pointer;
		margin: 0;
		padding: 0;
		display: block;
		width: 24px;
		height: 24px;
		line-height: 48px;
		border: none;
		text-decoration: none;

		&:hover {
			background: none;
			border: none;
			text-decoration: none;
		}
	}
}

ul {
	list-style-type: none;
	margin: 0 0 0 5px;
	padding: 0;
	
	li {
		margin: 10px 0;
	}
}

.filter {
	display: block;
	position: relative;
	top: 0;
	width: 25%;
	margin: 0 auto;

	.toggleSearch {
		display: inline-block;
		position: absolute;
		z-index: 99999;
		width: 48px;
		height: 48px;
		line-height: 48px;
		cursor: pointer;
		background-color: transparent;

		&.tInactive {
			left: 50%;
			margin: 0 0 0 -24px;			
		}

		&.tActive {
			left: 100%;
			margin: 0 0 0 -20px;
		}
	}

	input[type="search"].queryInput {
		position: absolute;
		z-index: 99998;
		width: 100%;
		height: 40px;
		border: none;
		outline: none;
		background-color: transparent;
		font-family: @font-family;
		font-size: 18px;
		font-weight: 100 !important;
		color: white;
		padding: 2px 30px 0 0;
		margin: 0;
		-webkit-appearance: none;

		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		
		&.sInactive {
			width: 0;
			opacity: 0;
			margin: 2px 30px 0 50%;
		}

		&.sActive {
			width: 100%;
			opacity: 1;
			margin: 2px 30px 0 0;
		}
	}

	#fakeInput {
		position: absolute;
		z-index: 99991;
		display: inline-block;
		height: 40px;
		margin: 0 6px;
		border-bottom: 2px solid #80CBC4;

		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;

		&.fInactive {
			width: 0;
			opacity: 0;
			margin: 0 0 0 50%;
		}
		
		&.fActive {
			width: 100%;
			opacity: 1;
			margin: 0 0 0 6px;
		}
	}
}

#content {
	padding: 1% 0 3% 0;
	float: none;
	clear: both;
	display: block;

	&.rssClosed {
		width: 90%;
		margin: 9% auto 0 auto;
	}

	&.rssOpen {
		width: 70%;
		margin: 9% auto 0 2%;
	}
}

.column {
	float: left;

	&:first-child {
		margin-left: 0;
	}
	
	&:last-child {
		margin-right: 0;
	}
}

.one,
.two,
.three,
.four {
	margin-right: 0px; 
	width: 100%;
	float: left; 
}

.one {
	width: 100%;
}

.two {
	width: 47%;
	margin-right: 1%;
}

.three {
	width: 29%;
	margin-right: 5%;
}

.four {
	width: 22%;
	margin-right: 4%;
}

// ---- Basic theme settings for all themes ---- //
#topbar {
	display: block;
	position: fixed;
	z-index: 99990;
	width: 100%;
	height: 48px;
	box-shadow: 0 0 4px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24);
}
.headLine {
	display: block;
	position: absolute;
	z-index: 99991;
	top: 0;
	left: 72px;
	margin: 0;
	padding: 0;

	font-size: 20px;
	font-weight: 100;

	h1 {
		display: inline-block;
		font-size: 20px;
		font-weight: 100;
		height: 48px;
		line-height: 48px;
	}
}

.catName {
	font-size: 24px;
}

#topbar {
	a {
		font-size: 24px;
		cursor: pointer;
		background-color: transparent;

		&:hover {
			background-color: transparent;
		}
	}
}

a {
	display: block;
	font-family: @font-family;
	font-size: 18px;
	line-height: 22px;
}

a,
a:hover,
.bookmarks a,
.bookmarks a:hover,
input,
input:hover,
input:focus,
.copyright {
	.transition03();
}
// ----------------------------------------------- //
