@font-face {
  font-family: 'talo';
  src: url('assets/font/talo.eot?51031655');
  src: url('assets/font/talo.eot?51031655#iefix') format('embedded-opentype'),
       url('assets/font/talo.woff?51031655') format('woff'),
       url('assets/font/talo.ttf?51031655') format('truetype'),
       url('assets/font/talo.svg?51031655#talo') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "talo";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;
}
 
.icon-bookmarks { &:before { content: '\e800'; }}
.icon-book { &:before { content: '\e801'; }}
.icon-right { &:before { content: '\e802'; }}
.icon-left { &:before { content: '\e803'; }}
.icon-close { &:before { content: '\e808'; }}
.icon-ok { &:before { content: '\e809'; }}
.icon-edit { &:before { content: '\e80a'; }}
.icon-delete { &:before { content: '\e80b'; }}
.icon-github { &:before { content: '\e80c'; }}
.icon-cog { &:before { content: '\e80f'; }}
.icon-info { &:before { content: '\e810'; }}