// reader.css

.rssOverlay {
	position: fixed;
	z-index: 9900;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,0.2);
}

.rssReader {
	background-color: white;
	position: absolute;
	display: block;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 9999;
	top: 10px;
	right: 7px;
	padding: 0;
	border-radius: 3px;
	box-shadow: 0 0 4px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24), 0 2px 24px rgba(0,0,0,0.87);
	.transition02();

	&.readerOpen {
		opacity: 1;
		width: 470px;
		height: 680px;
		position: absolute;
		z-index: 210000 !important;
		overflow-y: auto;
	}

	&.readerClosed {
		opacity: 0;
		width: 469px;
		height: 0;

		* {
			opacity: 0 !important;
			height: 0 !important;
		}
	}

	i {
		display: inline-block;
		color: @almost-black;
		font-size: 24px;
	}

	.closeRss {
		position: absolute;
		top: 25px;
		right: 20px;
		color: @trans-grey-26 !important;

		i {
			font-size: 24px;
			color: @trans-grey-56;
			.transition02();
		}

		&:hover,
		&:hover i {
			color: @almost-black;
			border: none;
			.transition02();
		}
	}

	.feedHead {
		display: block;
		position: fixed;
		z-index: 200000;
		top: 10px;
		right: 7px;
		width: 430px;
		height: 30px;
		margin: 0;
		padding: 20px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom: 1px solid @trans-grey-12;
		background-color: white;

		.secondHeadline {
			display: inline-block;
			color: @almost-black;
			font-weight: 300;
			margin: 0 0 0 20px;
		}
	}

	.feedList {
		display: block;
		position: relative;
		width: calc(~"100% - 80px");
		height: 610px;
		margin: 70px 0 0 10px;
		padding-left: 50px;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 100100;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		background-color: white;
		font-weight: @font-regular;
		font-size: 14px;

		div {
			margin: 10px 20px;
			height: 50px;

			a {
				width: 75%;
				display: inline-block;
				font-weight: @font-bolder !important;
				font-size: 14px !important;
				line-height: 18px;
				color: @trans-grey-26 !important;

				overflow: hidden;
				margin: 0;

				&:hover {
					color: @almost-black !important;
				}
			}

			.timeStamp {

				width: 24%;
				display: inline-block;
				float: left;
				text-align: left;
				margin: 0 0 5px 0;
				padding: 0;
				font-size: 11px;
				line-height: 18px;
				font-weight: @font-bold;

				.feedDate {
					width: 100%;
					display: block;
					margin: 0;
					color: @trans-grey-26 !important;
				}

				.feedTime {
					width: 100%;
					display: block;
					margin: 0;
					color: @trans-grey-26 !important;
				}
			}

			&.newItem {
				a {
					color: @trans-grey-56 !important;
				}

				.timeStamp {
					.feedTime,
					.feedDate {
						color: @trans-grey-56 !important;
					}
				}
			}

			&.newItem,
			&.oldItem {
				i {
					position: absolute;
					left: 10px;
					color: @magenta;
					font-size: 24px;
					line-height: 24px;
					display: block;
					width: 24px;
					height: 24px;
					&.hideIcon {
						display: none;
					}
				}
			}
			&.oldItem {
				i {
					color: @trans-grey-26;
				}
			}
		}
	}
}

.feedList > .oldItem {
	border-top: 1px solid @trans-grey-26;
	margin-top: 30px !important;
	padding-top: 30px;
}
.feedList > .oldItem ~ .oldItem {
	border: none;
	margin-top: 10px !important;
	padding-top: 5px;
}

#rssOpener {
	position: absolute;
	z-index: 10100;
	top: 15px;
	right: 34px;
	margin: 0;
	padding: 0;
	width: 24px;
	height: 24px;

	&.showRss {
		display: block;
	}

	&.hideRss {
		display: none;
	}

	.notifications {
		position: absolute;
		top: 4px;
		left: -18px;
		color: @magenta;
		font-size: 12px;
		display: inline-block;
	}

	.openRss {
		cursor: pointer;
		display: inline-block;
		margin: 0;
		padding: 0;
		width: 24px;
		height: 24px;
		font-size: 24px;
		z-index: 100000;

		i {
			display: block;
			width: 24px;
			height: 24px;
			line-height: 24px;

			&:before {
				margin-left: 0;
			}
		}
	}
}

.rssReader * {
	color: @trans-grey-56;
}

.rssOffline {
	display: block;
	position: absolute;
	z-index: 100010;
	top: 100px;
	width: 100%;
	height: 100px;
	text-align: center;
}


.reloadTrigger {
	font-weight: @font-bold;
	color: @trans-grey-56 !important;

	&:hover {
		color: @teal !important;
	}
}
