// settings.css 

// Bof: outside stuff 

@settings-layer: 100010;

section.mainSection {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.clear {
	float: none;
	clear: both;
}

.hideIt,
.hideIt .sidebarHeader,
.hideIt .copyright {
	left: -360px;
	box-shadow: 0 !important;
}

.showIt,
.showIt .sidebarHeader,
.showIt .copyright {
	left: 0;
}

.showRoot {
	top: 0;
	.transition03();
}

.hideRoot {
	top: -50px;
	.transition03();
}

.showSub1 {
	top: 0;
	.transition03();
}

.hideSub1 {
	top: -50px;
	opacity: 0;
	.transition03();
}

// main content overlay
.overlay {
	position: fixed;
	z-index: @settings-layer - 10;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.fourthHeadline {
	display: inline-block;
	margin: 0 0 0 -13px;
	font-weight: 100;
	color: @solid-dark-grey;
}

// button definitions
.btn {
	height: 36px;
	line-height: 38px;
	margin: 40px 10px;
	padding: 0 22px;
	border: none;
	border-radius: 3px;
	font-family: @font-family;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	background-color: @light-blue;
	box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);

	&:hover {
		background-color: darken(@light-blue, 10%);
		box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.24);
	}
}

.btnSave {
	background-color: @dark-teal;

	&:hover {
		background-color: darken(@dark-teal, 5%);
	}
}

.btnDelete {
	background-color: @deep-orange;
	padding: 0 14px;
	margin: 40px 5px 20px 5px;

	&:hover {
		background-color: @dark-orange;
	}

	&.btnDeleteAll {
		margin: 40px 5px 20px -21px;
	}
}

.btnCancel {
	height: 36px;
	line-height: 38px;
	margin: 40px 10px;
	padding: 0 22px;
	border: none;
	border-radius: 3px;
	font-family: @font-family;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: @dark-teal;
	background-color: transparent;
	box-shadow: none;

	&:hover {
		background-color: @trans-grey-12;
		box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.12);
	}
}

// ------------------

// aside sidebar layer
.sideBar {
	font-family: @font-family;
	font-size: 18px;
	color: @solid-dark-grey;
	background: white;
	position: absolute;
	display: inline-block;
	width: 330px;
	height: calc(~"100% - 40px");
	padding: 0 10px 40px 10px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: @settings-layer;
	box-shadow: 0 0 4px rgba(0,0,0,0.12), 4px 0 4px rgba(0,0,0,0.24);

	a {
		font-weight: 400;
		color: @trans-grey-56;

		&:hover {
			color: @teal;
		}
	}

	.sidebarHeader {
		position: fixed;
		z-index: @settings-layer + 1000;
		top: 0;
		margin: 0;
		padding: 10px 0 0 10px;
		color: rgba(0,0,0,0.56);
		width: 340px;
		height: 40px;
		line-height: 40px;
		background-color: white;

		i {
			color: @teal;
			top: -2px;
			left: 10px;
			position: relative;
			display: inline-block;
			font-size: 32px;
		}

		.settingsHead {
			position: absolute;
			margin: 11px 1px 0 0;

			p {
				font-size: 22px;
				font-weight: 400;
				color: @trans-grey-56;
				position: absolute;
				display: inline-block;
				top: -5px;
				left: 52px;
				margin: 0;
				padding: 0;
				white-space: nowrap;
			}
		}
		a.settingsHead {
			font-size: 46px;
			margin: 19px 1px 0 0;

			i {
				top: -9px;
			}

			p {
				left: 52px;
			}
		}

		.closeSettings {
			position: absolute;
			z-index: @settings-layer + 1010;
			top: 16px;
			right: 14px;
			display: block;
			width: 30px;
			height: 20px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			color: rgba(0,0,0,0.26);

			i {
				font-size: 24px;
				color: rgba(0,0,0,0.56);
				.transition03();
			}

			&:hover,
			&:hover i {
				color: #000;
				border: none;
				.transition03();
			}
		}
	}

	h3,
	.thirdHeadline {
		color: @solid-mid-grey;
		font-weight: 400;
	}

	input[type="text"] {
		width: 260px;
		height: 44px;
		line-height: 44px;
		color: @solid-mid-grey;
		border: none;
		outline: none;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid @trans-grey-12;
		font-size: 16px;
		padding: 0;
		margin: 20px 10px 10px 0;

		&:hover {
			border-bottom: 1px solid @trans-grey-26;
		}

		&:focus {
			border-bottom: 1px solid @teal;
			color: @almost-black;
		}
	}
}

// adding a new bookmark
#addBookmark {
	position: relative;
	display: block;
	top: 100px;
	width: 280px;

	.addButton {
		cursor: pointer;
		position: absolute;
		z-index: @settings-layer + 10;
		top: -28px;
		left: calc(~"50% - 6px");
		display: block;
		width: 56px;
		height: 56px;
		background-color: white;
		border-radius: 50%;
		box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
		color: @almost-black;

		i {
			display: block;
			width: 56px;
			height: 56px;
			text-align: center;
			line-height: 58px;
			font-size: 24px;
			color: @trans-grey-56;
			.transition01();
		}

		.tooltip {
			position: absolute;
			display: block;
			width: auto;
			height: 22px;
			line-height: 22px;
			font-size: 10px;
			font-weight: 400;
			white-space: nowrap;
			margin: 10px 0 0 -25%;
			padding: 0 8px;
			background-color: @trans-grey-90;
			color: @trans-white-56;
			border-radius: 3px;
			opacity: 0;
			.transition03();
		}

		&:hover {
			.tooltip {
				.transitionTooltip();
				opacity: 1;
			}
		}
	
		&.open {
			i {
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				font-size: 32px;
			}

			&:hover {
				.tooltip {
					.transition03();
					opacity: 0;
				}
			}
		}
	}

	.container {
		position: relative;
		z-index: @settings-layer + 9;
		width: 100%;
		margin: 10px 0 0 -10px;
		padding: 0 10px 0 60px;
		border-top: 1px solid @trans-grey-12;
		border-bottom: 1px solid @trans-grey-12;
		background-color: @solid-light-grey;

		&.closed {
			border-top: 0;
			max-height: 0;
			overflow-x: hidden;
			overflow-y: hidden;
			padding-top: 0;
			.transition03();
		}

		&.open {
			max-height: 400px;
			overflow-x: hidden;
			overflow-y: auto;
			padding-top: 54px;
			.transition03();
		}
	}
}

// main settings menu
#menu {
	display: block;
	position: absolute;
	z-index: @settings-layer + 110;
	width: 100%;
	left: 0;
	padding-bottom: 40px;
	.transition03();

	* {
		box-sizing: border-box
	}

	.settingsMenu {
		margin: 0;
		padding: 0;

		li {
			margin: 24px 0 24px 0;
			padding: 0;
			height: 24px;
			.transition03();

			a {
				display: block;
				color: @almost-black;
				font-size: 14px;
				font-weight: 400;
				height: 48px;
				line-height: 48px;
				margin: 0;
				padding: 0 0 0 30px;

				&:hover {
					color: @dark-teal;
					background-color: @trans-grey-06;
				}

				i {
					float: left;
					font-size: 24px;
					line-height: 48px;
					margin: 0 31px 0 0;
				}
			}
		}
	}

	&.closed {
		margin-top: 65%;
		.transition03();
	}

	&.open {
		margin-top: 25%;
		.transition03();

		li {
			height: 24px;
			line-height: 24px;
			.transition03();
		}
	}

	&.subOpen {
		left: -350px;	
	}
}

// overall submenu sections
#editBookmarks.open,
#backup.open,
#appearance.open,
#view.open,
#rssSettings.open {
	transition: left 0.3s ease-out;
	position: absolute;
	left: 0;
	top: 0;
	max-height: 2000px;
	padding: 80px 0 30px 40px;
	overflow-x: hidden;
	overflow-y: auto;

	.container {
		display: block;
		width: 100%;
		margin: 0 0 0 -13px;
	}
}
#editBookmarks.closed,
#backup.closed,
#appearance.closed,
#view.closed,
#rssSettings.closed {
	transition: left 0.3s ease-out;
	position: absolute;
	left: 400px;
	top: 0;
	max-height: 0;
	padding: 80px 0 30px 40px;
	overflow-x: hidden;
	overflow-y: auto;
}

#editBookmarks {
	.catList {
		.fourthHeadline {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

.editBookmarksItem {
	margin: 0 0 0 -8px;

	.editEntry,
	.verifyDelete {
		margin: 0 0 0 -26px;
		width: 350px;
		color: @almost-black;
		font-weight: 400;
		font-size: 14px;

		&.open {
			padding: 20px 0 0 46px;
			max-height: 500px;
			overflow: auto;
			border-top: 1px solid @trans-grey-12;
			border-bottom: 1px solid @trans-grey-12;
			background-color: @solid-light-grey;
			.transition05();
		}

		&.closed {
			padding: 0 0 0 46px;
			max-height: 0;
			overflow: hidden;
			border-top: 1px solid white;
			border-bottom: 1px solid white;
			background-color: white;
			.transition05();
		}

		p {
			text-align: center;
			margin-left: -110px;
		}
	}
}
.entry {
	position: relative;
	width: 325px;
	margin: -4px 0 0 -30px;
	padding: 8px 0 8px 30px;

	.editBtn,
	.delBtn {
		color: white;
		cursor: pointer;
		position: relative;
		display: inline-block;
		width: 24px;
		height: 24px;
		font-size: 24px;
		line-height: 24px;
		float: left;

		&:hover {
			color: @deep-orange;
		}
	}

	.editBtn {
		margin-left: 0px;

		&:hover {
			color: @blue;
		}
	}

	.entryName {
		cursor: default;
		position: relative;
		left: 10px;
		display: inline-block;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
 	}

 	&:hover {
 		background-color: @trans-grey-06;

 		.entryName {
	 		color: @dark-teal;
 		}

 		> a {
 			color: @trans-grey-56;
 		}
 	}
}

#backup {
	width: 350px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	display: block;

	&.open {
		padding: 0 0 0 40px;
	}

	.subSubMenu {
		margin-top: 75%;

		.selectOption {
			font-size: 14px;
			position: relative;
			display: block;
			width: calc(~"100% - 26px");
			height: 44px;
			line-height: 44px;
			left: -40px;
			padding: 0 0 0 36px;
			clear: both;
			color: @almost-black;

			i {
				float: left;
				font-size: 24px;
				line-height: 45px;
				margin: 0 26px 0 0;
			}

			&:hover {
				color: @dark-teal;
				background-color: @trans-grey-06;
			}
		}
	}

	#importBox,
	#exportBox {
		width: 304px;
		position: absolute;
		top: 50px;
		left: 0;
		border-top: 1px solid @trans-grey-12;
		border-bottom: 1px solid @trans-grey-12;
		background-color: @solid-light-grey;
		.transition03();

		&.openIm,
		&.openEx {
			min-height: calc(~"100% - 140px");
			max-height: 2000px;
			overflow: auto;
			padding: 20px 0 20px 46px;
		}

		&.closedIm,
		&.closedEx {
			max-height: 0;
			overflow: hidden;
			padding: 0 0 0 46px;
			border: none;
		}

		.closeImEx {
			display: block;
			width: 30px;
			height: 30px;
			font-size: 24px;
			position: absolute;
			top: 20px;
			right: 10px;

			&:hover {
				color: @almost-black;
			}
		}

		.container {
			font-size: 14px;
		}

		textarea {
			resize: none;
			width: 85%;
			height: 22px;
			line-height: 22px;
			font-family: @font-family;

			color: @solid-mid-grey;
			border: none;
			outline: none;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid @trans-grey-12;
			font-size: 16px;
			padding: 11px;
			margin: 20px 10px 10px 0;
			.transition02();

			&:hover {
				border-bottom: 1px solid @trans-grey-26;
			}

			&:focus {
				height: 200px;
				border-bottom: 1px solid @teal;
				color: @almost-black;
				background-color: white;
			}

			&.ng-dirty {
				height: 220px;
    	}
		}

		.btn {
			margin: 10px 0;
			width: 92%;
		}
	}

	#importBox {
		// margin: 0 0 -80px 0;
	}
	#exportBox {
		// margin: 0 0 -60px 0;
	}
}

#view {
	.layout {
		margin: 100% 0 0 0;

		.columnList {
			margin: 25% 0 0 -10px;

			li {
				margin: 5px;
				padding-left: 7px;
			}

			input[type="radio"] {
				display: none;
			}

			label {
				cursor: pointer;
				color: @almost-black;
				display: block;
				font-size: 14px;
				font-weight: 400;
				line-height: 44px;
				height: 44px;

				i, span {
					.transition03;
				}

				i {
					color: white;
					float: left;
					font-size: 24px;
					margin-right: 30px;
					width: 24px;
					height: 24px;
					line-height: 44px;
				}

				&.active i,
				&:hover.active i {
					color: @dark-teal;
				}

				&:hover i {
					color: @almost-black;
				}
			}
		}
	}
}

#appearance {
	.selectTheme {
		width: 300px;
		line-height: 44px;
		margin: 20px 0;
		padding: 0 10px;
		border: none;
		font-size: 14px;
		outline: none;

		li {
			margin: 5px 0;
			padding-left: 7px;
		}

		input[type="radio"] {
			display: none;
		}

		label {
			cursor: pointer;
			color: @almost-black;
			display: block;
			font-size: 14px;
			font-weight: 400;
			line-height: 44px;
			height: 44px;
			margin: 0;

			i, span {
				.transition03;
			}

			i {
				color: white;
				float: left;
				font-size: 24px;
				margin-right: 10px;
				width: 24px;
				height: 24px;
				line-height: 44px;
			}

			&.active i,
			&:hover.active i {
				color: @dark-teal;
			}

			&:hover i {
				color: @almost-black;
			}
		}
	}
}

#copyright {
	position: fixed;
	display: block;
	height: 20px;
	width: 350px;
	padding: 5px 0 10px 0;
	margin: 0 0 0 -10px;
	bottom: 0;
	text-align: center;
	background-color: white;
	z-index: @settings-layer + 10000;

	a {
		font-size: 12px !important;
		// color: @solid-mid-grey;
		color: @dark-teal;
		
		&:hover {
			background: none;
			color: @deep-orange;
		}
	}
}

/* ---- */

aside a,
aside a:hover {
	.transition02();
}

.container,
input,
input:hover,
input:focus,
.inactive,
.active,
.animateAll,
.overlay,
.hideIt,
.showIt,
.hideIt .sidebarHeader,
.showIt .sidebarHeader,
.hideIt .copyright,
.showIt .copyright,
.hideReader,
.showReader,
.readerClosed,
.readerOpen {
	.transition03();
}
