/* default */

body {
	background: #eee url('worldmap.gif') no-repeat center center;
	color: #4f565b;
	background-size: 100%;
	background-attachment: fixed;
}
section a {
	display: block;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
}
section a:hover {
	background: #3c96d5;
	color: #fff;
}
a.openSettings {
	color: #555;
}
a.openSettings:hover {
	color: #3c96d5;
}
a,
a:hover,
.bookmarks a,
.bookmarks a:hover,
input,
input:hover,
input:focus,
.copyright {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}